*
!.gitignore
!LICENSE
!README

!.xinitrc

!nvim

!alacritty
!alacritty/**

!bspwm
!bspwm/**

!polybar
!polybar/**

!sxhkd
!sxhkd/**

!dunst
!dunst/**

!neofetch
!neofetch/**

!skhd
!skhd/**

!yabai
!yabai/**

!sketchybar
!sketchybar/**
